@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-secondary-200;
  }
  body {
    @apply bg-secondary-50 text-secondary-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-secondary-100;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-secondary-300 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-400;
  }
}
